# System files
.DS_Store

# IDEs and editors
.idea/
.ropeproject/
.ruff_cache/

# ML/AI specific
ai_models/

# Python
__pycache__/

# Audio files
*.m4a
*.wav

# Softwares
tools/

# Packaging outputs
build/
dist/
*.spec
