[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
faster-whisper = "*"
"pyannote.audio" = "*"
huggingface-hub = "*"
pydub = "*"
pipeline = "*"

[dev-packages]

[requires]
python_version = "3.13"
